<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.admin.dao.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.returnp.admin.model.Category">
    <id column="categoryNo" jdbcType="INTEGER" property="categoryNo" />
    <result column="categoryCode" jdbcType="VARCHAR" property="categoryCode" />
    <result column="parentCategoryNo" jdbcType="INTEGER" property="parentCategoryNo" />
    <result column="categoryLevel" jdbcType="VARCHAR" property="categoryLevel" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName" />
    <result column="categoryNameEn" jdbcType="VARCHAR" property="categoryNameEn" />
    <result column="categoryStatus" jdbcType="VARCHAR" property="categoryStatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    categoryNo, categoryCode, parentCategoryNo, categoryLevel, categoryName, categoryNameEn, 
    categoryStatus, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where categoryNo = #{categoryNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where categoryNo = #{categoryNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.admin.model.Category">
    insert into category (categoryNo, categoryCode, parentCategoryNo, 
      categoryLevel, categoryName, categoryNameEn, 
      categoryStatus, createTime, updateTime
      )
    values (#{categoryNo,jdbcType=INTEGER}, #{categoryCode,jdbcType=VARCHAR}, #{parentCategoryNo,jdbcType=INTEGER}, 
      #{categoryLevel,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{categoryNameEn,jdbcType=VARCHAR}, 
      #{categoryStatus,jdbcType=VARCHAR}, NOW(), NOW()
      )
      
          <selectKey keyProperty="branchNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.admin.model.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryNo != null">
        categoryNo,
      </if>
      <if test="categoryCode != null">
        categoryCode,
      </if>
      <if test="parentCategoryNo != null">
        parentCategoryNo,
      </if>
      <if test="categoryLevel != null">
        categoryLevel,
      </if>
      <if test="categoryName != null">
        categoryName,
      </if>
      <if test="categoryNameEn != null">
        categoryNameEn,
      </if>
      <if test="categoryStatus != null">
        categoryStatus,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryNo != null">
        #{categoryNo,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCategoryNo != null">
        #{parentCategoryNo,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null">
        #{categoryLevel,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryNameEn != null">
        #{categoryNameEn,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        #{categoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.admin.model.Category">
    update category
    <set>
      <if test="categoryCode != null">
        categoryCode = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCategoryNo != null">
        parentCategoryNo = #{parentCategoryNo,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null">
        categoryLevel = #{categoryLevel,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        categoryName = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryNameEn != null">
        categoryNameEn = #{categoryNameEn,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        categoryStatus = #{categoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where categoryNo = #{categoryNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.admin.model.Category">
    update category
    set categoryCode = #{categoryCode,jdbcType=VARCHAR},
      parentCategoryNo = #{parentCategoryNo,jdbcType=INTEGER},
      categoryLevel = #{categoryLevel,jdbcType=VARCHAR},
      categoryName = #{categoryName,jdbcType=VARCHAR},
      categoryNameEn = #{categoryNameEn,jdbcType=VARCHAR},
      categoryStatus = #{categoryStatus,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime =NOW()
    where categoryNo = #{categoryNo,jdbcType=INTEGER}
  </update>
</mapper>