<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.admin.dao.mapper.GiftCardOrderMapper">
  <resultMap id="BaseResultMap" type="com.returnp.admin.model.GiftCardOrder">
    <id column="orderNo" jdbcType="INTEGER" property="orderNo" />
    <result column="orderNumber" jdbcType="VARCHAR" property="orderNumber" />
    <result column="orderName" jdbcType="VARCHAR" property="orderName" />
    <result column="ordererId" jdbcType="VARCHAR" property="ordererId" />
    <result column="ordererName" jdbcType="VARCHAR" property="ordererName" />
    <result column="ordererPhone" jdbcType="VARCHAR" property="ordererPhone" />
    <result column="ordererEmail" jdbcType="VARCHAR" property="ordererEmail" />
    <result column="orderTotalPrice" jdbcType="INTEGER" property="orderTotalPrice" />
    <result column="orderType" jdbcType="VARCHAR" property="orderType" />
    <result column="orderStatus" jdbcType="VARCHAR" property="orderStatus" />
    <result column="issueStatus" jdbcType="VARCHAR" property="issueStatus" />
    <result column="bargainType" jdbcType="VARCHAR" property="bargainType" />
    <result column="orderReason" jdbcType="VARCHAR" property="orderReason" />
    <result column="giftCardNo" jdbcType="INTEGER" property="giftCardNo" />
    <result column="giftCardName" jdbcType="VARCHAR" property="giftCardName" />
    <result column="giftCardType" jdbcType="VARCHAR" property="giftCardType" />
    <result column="giftCardAmount" jdbcType="INTEGER" property="giftCardAmount" />
    <result column="giftCardSalePrice" jdbcType="INTEGER" property="giftCardSalePrice" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="receiverName" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiverPhone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiverEmail" jdbcType="VARCHAR" property="receiverEmail" />
    <result column="paymentStatus" jdbcType="VARCHAR" property="paymentStatus" />
    <result column="paymentType" jdbcType="VARCHAR" property="paymentType" />
    <result column="deliveryNumber" jdbcType="VARCHAR" property="deliveryNumber" />
    <result column="deliveryAddress" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="deliveryMessage" jdbcType="VARCHAR" property="deliveryMessage" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    orderNo, orderNumber, orderName, ordererId, ordererName, ordererPhone, ordererEmail, 
    orderTotalPrice, orderType, orderStatus, issueStatus, bargainType, orderReason, giftCardNo, 
    giftCardName, giftCardType, giftCardAmount, giftCardSalePrice, qty, receiverName, 
    receiverPhone, receiverEmail, paymentStatus, paymentType, deliveryNumber, deliveryAddress, 
    deliveryMessage, orderTime, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gift_card_order
    where orderNo = #{orderNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gift_card_order
    where orderNo = #{orderNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.admin.model.GiftCardOrder">
    insert into gift_card_order (orderNo, orderNumber, orderName, 
      ordererId, ordererName, ordererPhone, 
      ordererEmail, orderTotalPrice, orderType, 
      orderStatus, issueStatus, bargainType, 
      orderReason, giftCardNo, giftCardName, 
      giftCardType, giftCardAmount, giftCardSalePrice, 
      qty, receiverName, receiverPhone, 
      receiverEmail, paymentStatus, paymentType, 
      deliveryNumber, deliveryAddress, deliveryMessage, 
      orderTime, createTime, updateTime
      )
    values (#{orderNo,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR}, 
      #{ordererId,jdbcType=VARCHAR}, #{ordererName,jdbcType=VARCHAR}, #{ordererPhone,jdbcType=VARCHAR}, 
      #{ordererEmail,jdbcType=VARCHAR}, #{orderTotalPrice,jdbcType=INTEGER}, #{orderType,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=VARCHAR}, #{issueStatus,jdbcType=VARCHAR}, #{bargainType,jdbcType=VARCHAR}, 
      #{orderReason,jdbcType=VARCHAR}, #{giftCardNo,jdbcType=INTEGER}, #{giftCardName,jdbcType=VARCHAR}, 
      #{giftCardType,jdbcType=VARCHAR}, #{giftCardAmount,jdbcType=INTEGER}, #{giftCardSalePrice,jdbcType=INTEGER}, 
      #{qty,jdbcType=INTEGER}, #{receiverName,jdbcType=VARCHAR}, #{receiverPhone,jdbcType=VARCHAR}, 
      #{receiverEmail,jdbcType=VARCHAR}, #{paymentStatus,jdbcType=VARCHAR}, #{paymentType,jdbcType=VARCHAR}, 
      #{deliveryNumber,jdbcType=VARCHAR}, #{deliveryAddress,jdbcType=VARCHAR}, #{deliveryMessage,jdbcType=VARCHAR}, 
      NOW(), NOW(), NOW()
      )    
      <selectKey keyProperty="orderNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.admin.model.GiftCardOrder">
    insert into gift_card_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        orderNo,
      </if>
      <if test="orderNumber != null">
        orderNumber,
      </if>
      <if test="orderName != null">
        orderName,
      </if>
      <if test="ordererId != null">
        ordererId,
      </if>
      <if test="ordererName != null">
        ordererName,
      </if>
      <if test="ordererPhone != null">
        ordererPhone,
      </if>
      <if test="ordererEmail != null">
        ordererEmail,
      </if>
      <if test="orderTotalPrice != null">
        orderTotalPrice,
      </if>
      <if test="orderType != null">
        orderType,
      </if>
      <if test="orderStatus != null">
        orderStatus,
      </if>
      <if test="issueStatus != null">
        issueStatus,
      </if>
      <if test="bargainType != null">
        bargainType,
      </if>
      <if test="orderReason != null">
        orderReason,
      </if>
      <if test="giftCardNo != null">
        giftCardNo,
      </if>
      <if test="giftCardName != null">
        giftCardName,
      </if>
      <if test="giftCardType != null">
        giftCardType,
      </if>
      <if test="giftCardAmount != null">
        giftCardAmount,
      </if>
      <if test="giftCardSalePrice != null">
        giftCardSalePrice,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="receiverName != null">
        receiverName,
      </if>
      <if test="receiverPhone != null">
        receiverPhone,
      </if>
      <if test="receiverEmail != null">
        receiverEmail,
      </if>
      <if test="paymentStatus != null">
        paymentStatus,
      </if>
      <if test="paymentType != null">
        paymentType,
      </if>
      <if test="deliveryNumber != null">
        deliveryNumber,
      </if>
      <if test="deliveryAddress != null">
        deliveryAddress,
      </if>
      <if test="deliveryMessage != null">
        deliveryMessage,
      </if>
      <if test="orderTime != null">
        orderTime,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="ordererId != null">
        #{ordererId,jdbcType=VARCHAR},
      </if>
      <if test="ordererName != null">
        #{ordererName,jdbcType=VARCHAR},
      </if>
      <if test="ordererPhone != null">
        #{ordererPhone,jdbcType=VARCHAR},
      </if>
      <if test="ordererEmail != null">
        #{ordererEmail,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalPrice != null">
        #{orderTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="issueStatus != null">
        #{issueStatus,jdbcType=VARCHAR},
      </if>
      <if test="bargainType != null">
        #{bargainType,jdbcType=VARCHAR},
      </if>
      <if test="orderReason != null">
        #{orderReason,jdbcType=VARCHAR},
      </if>
      <if test="giftCardNo != null">
        #{giftCardNo,jdbcType=INTEGER},
      </if>
      <if test="giftCardName != null">
        #{giftCardName,jdbcType=VARCHAR},
      </if>
      <if test="giftCardType != null">
        #{giftCardType,jdbcType=VARCHAR},
      </if>
      <if test="giftCardAmount != null">
        #{giftCardAmount,jdbcType=INTEGER},
      </if>
      <if test="giftCardSalePrice != null">
        #{giftCardSalePrice,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverEmail != null">
        #{receiverEmail,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNumber != null">
        #{deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMessage != null">
        #{deliveryMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.admin.model.GiftCardOrder">
    update gift_card_order
    <set>
      <if test="orderNumber != null">
        orderNumber = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        orderName = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="ordererId != null">
        ordererId = #{ordererId,jdbcType=VARCHAR},
      </if>
      <if test="ordererName != null">
        ordererName = #{ordererName,jdbcType=VARCHAR},
      </if>
      <if test="ordererPhone != null">
        ordererPhone = #{ordererPhone,jdbcType=VARCHAR},
      </if>
      <if test="ordererEmail != null">
        ordererEmail = #{ordererEmail,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalPrice != null">
        orderTotalPrice = #{orderTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        orderType = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        orderStatus = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="issueStatus != null">
        issueStatus = #{issueStatus,jdbcType=VARCHAR},
      </if>
      <if test="bargainType != null">
        bargainType = #{bargainType,jdbcType=VARCHAR},
      </if>
      <if test="orderReason != null">
        orderReason = #{orderReason,jdbcType=VARCHAR},
      </if>
      <if test="giftCardNo != null">
        giftCardNo = #{giftCardNo,jdbcType=INTEGER},
      </if>
      <if test="giftCardName != null">
        giftCardName = #{giftCardName,jdbcType=VARCHAR},
      </if>
      <if test="giftCardType != null">
        giftCardType = #{giftCardType,jdbcType=VARCHAR},
      </if>
      <if test="giftCardAmount != null">
        giftCardAmount = #{giftCardAmount,jdbcType=INTEGER},
      </if>
      <if test="giftCardSalePrice != null">
        giftCardSalePrice = #{giftCardSalePrice,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        receiverName = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        receiverPhone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverEmail != null">
        receiverEmail = #{receiverEmail,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        paymentStatus = #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        paymentType = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNumber != null">
        deliveryNumber = #{deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        deliveryAddress = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMessage != null">
        deliveryMessage = #{deliveryMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        orderTime = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderNo = #{orderNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.admin.model.GiftCardOrder">
    update gift_card_order
    set orderNumber = #{orderNumber,jdbcType=VARCHAR},
      orderName = #{orderName,jdbcType=VARCHAR},
      ordererId = #{ordererId,jdbcType=VARCHAR},
      ordererName = #{ordererName,jdbcType=VARCHAR},
      ordererPhone = #{ordererPhone,jdbcType=VARCHAR},
      ordererEmail = #{ordererEmail,jdbcType=VARCHAR},
      orderTotalPrice = #{orderTotalPrice,jdbcType=INTEGER},
      orderType = #{orderType,jdbcType=VARCHAR},
      orderStatus = #{orderStatus,jdbcType=VARCHAR},
      issueStatus = #{issueStatus,jdbcType=VARCHAR},
      bargainType = #{bargainType,jdbcType=VARCHAR},
      orderReason = #{orderReason,jdbcType=VARCHAR},
      giftCardNo = #{giftCardNo,jdbcType=INTEGER},
      giftCardName = #{giftCardName,jdbcType=VARCHAR},
      giftCardType = #{giftCardType,jdbcType=VARCHAR},
      giftCardAmount = #{giftCardAmount,jdbcType=INTEGER},
      giftCardSalePrice = #{giftCardSalePrice,jdbcType=INTEGER},
      qty = #{qty,jdbcType=INTEGER},
      receiverName = #{receiverName,jdbcType=VARCHAR},
      receiverPhone = #{receiverPhone,jdbcType=VARCHAR},
      receiverEmail = #{receiverEmail,jdbcType=VARCHAR},
      paymentStatus = #{paymentStatus,jdbcType=VARCHAR},
      paymentType = #{paymentType,jdbcType=VARCHAR},
      deliveryNumber = #{deliveryNumber,jdbcType=VARCHAR},
      deliveryAddress = #{deliveryAddress,jdbcType=VARCHAR},
      deliveryMessage = #{deliveryMessage,jdbcType=VARCHAR},
      orderTime = #{orderTime,jdbcType=TIMESTAMP},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = NOW()
    where orderNo = #{orderNo,jdbcType=INTEGER}
  </update>
</mapper>