<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.admin.dao.mapper.MemberConfigMapper">
  <resultMap id="BaseResultMap" type="com.returnp.admin.model.MemberConfig">
    <id column="memberConfigNo" jdbcType="INTEGER" property="memberConfigNo" />
    <result column="memberNo" jdbcType="INTEGER" property="memberNo" />
    <result column="devicePush" jdbcType="VARCHAR" property="devicePush" />
    <result column="emailReceive" jdbcType="VARCHAR" property="emailReceive" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    memberConfigNo, memberNo, devicePush, emailReceive, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_config
    where memberConfigNo = #{memberConfigNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_config
    where memberConfigNo = #{memberConfigNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.admin.model.MemberConfig">
    insert into member_config (memberConfigNo, memberNo, devicePush, 
      emailReceive, createTime, updateTime
      )
    values (#{memberConfigNo,jdbcType=INTEGER}, #{memberNo,jdbcType=INTEGER}, #{devicePush,jdbcType=VARCHAR}, 
      #{emailReceive,jdbcType=VARCHAR}, NOW(), NOW()
      )
      
         <selectKey keyProperty="memberConfigNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.admin.model.MemberConfig">
    insert into member_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberConfigNo != null">
        memberConfigNo,
      </if>
      <if test="memberNo != null">
        memberNo,
      </if>
      <if test="devicePush != null">
        devicePush,
      </if>
      <if test="emailReceive != null">
        emailReceive,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberConfigNo != null">
        #{memberConfigNo,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="devicePush != null">
        #{devicePush,jdbcType=VARCHAR},
      </if>
      <if test="emailReceive != null">
        #{emailReceive,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.admin.model.MemberConfig">
    update member_config
    <set>
      <if test="memberNo != null">
        memberNo = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="devicePush != null">
        devicePush = #{devicePush,jdbcType=VARCHAR},
      </if>
      <if test="emailReceive != null">
        emailReceive = #{emailReceive,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where memberConfigNo = #{memberConfigNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.admin.model.MemberConfig">
    update member_config
    set memberNo = #{memberNo,jdbcType=INTEGER},
      devicePush = #{devicePush,jdbcType=VARCHAR},
      emailReceive = #{emailReceive,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = NOW()
    where memberConfigNo = #{memberConfigNo,jdbcType=INTEGER}
  </update>
</mapper>